<!DOCTYPE html>
<html ng-app="wordwang">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>W O R D W A N G ! ! !</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/angular.js"></script>
    <script src="/wordwang.js"></script>
    <script src="/wordwang-ng.js"></script>
  </head>
  <body ng-controller="WWCtrl">
    <div id="create">
      <form id="createForm">
        <button ng-click="create()">Create Story</button>
      </form>
    </div>
    <div id="story">
      <form id="candidateForm">
        <input type="text" ng-model="blockInput">
        <button ng-click="candidate()">GO!</button>
      </form>
      <div id="candidates">
        <span class="candidate" ng-repeat="candidate in story.candidates">
          {{candidate.block}}
        </span>
      </div>
      <div id="blocks">
        <span class="block" ng-repeat="block in story.blocks">
          {{block}}
        </span>
      </div>
      <!-- TODO remove this, join automatically -->
      <form id="joinForm">
        <button ng-click="join()">Join</button>
      </form>
    </div>
  </body>
</html>
