<!DOCTYPE html>
<html ng-app="wordwang">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>W O R D W A N G ! ! !</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/angular.js"></script>
    <script src="/wordwang.js"></script>
    <script src="/wordwang-ng.js"></script>
  </head>
  <body ng-controller="WWCtrl">
    <div id="create">
      <button ng-click="create()">Create Story</button>
    </div>
    <div id="story">
      <form>
        <input type="text" ng-model="blockInput">
        <button ng-click="candidate()">GO!</button>
      </form>
      <div>
        <span ng-repeat="candidate in story.candidates" ng-click="vote(candidate.user)">
          <a href="" ng-click="vote(candidate.user)">{{candidate.block}} ({{candidate.votes.length}})</a>
        </span>
      </div>
      <div>
        <span ng-repeat="block in story.blocks">
          {{block}}
        </span>
      </div>
      <!-- TODO remove this, join automatically -->
      <button ng-click="join()">Join</button>
      <button ng-click="closeVoting()">Close voting</button>
    </div>
  </body>
</html>
